{% extends 'base/base.html' %}

{% block content %}

    {% if user.is_authenticated %}
        {% if pesquisador.genero == 'M' %}
            <h1>Bem-vindo, {{ user.first_name }}</h1>
        {% else %}
            <h1>Bem-vinda, {{ user.first_name }}</h1>
        {% endif %}

        {% if participantes_pendentes %}
        	<span>Questionários pendentes: <a href="{% url '' %}">{{ participantes_pendentes }}</a></span>
        {% else %}
            <span>Não há questionários pendentes</span>
        {% endif %}

        <form style="margin-top: 2em" action="{% url 'logout' %}" method="post">{% csrf_token %}
            <button type="submit">Sair</button>
        </form>

    {% else %}
        <h1 style="text-align: center">Boas-vindas ao sistema</h1>

    {% endif %}

{% endblock %}